*
{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;

}

body
{
    font-family: Arial, Helvetica, sans-serif;
    
}

header,nav,article,div,footer
{
    padding : 10px;
    border:1px solid grey;
    text-align: center;
}

header
{
    background-color: aquamarine;
    width: 100%
    
}

footer
{
    background-color: aquamarine;
    clear: both;
    width: 100%
}


nav
{
    background-color: rgb(193, 243, 226);
    float: left;
    height: 200px;
    width:  20% 
    
}

div
{
    background-color: rgb(193, 243, 226);
    float: right;
    height: 200px;
    width:  20% 
    
}


article
{   
    float: left;
    height: 200px;
    width:  60% 
   
    
}